## Shared ##

# Misc
.DS_Store
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Logs
logs
*.log

## Backend ##
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
.pytest_cache

## Frontend ##

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
