<Files "README.md">
  Order Allow,Deny
  Deny from all
</Files>

<Files "git_sync">
  Order Allow,Deny
  Deny from all
</Files>

<Files ".sync.lock">
  Order Allow,Deny
  Deny from all
</Files>

<Files "config.ini">
  Order Allow,Deny
  Deny from all
</Files>

<Files "config_example.ini">
  Order Allow,Deny
  Deny from all
</Files>

<Files "config.php">
  Order Allow,Deny
  Deny from all
</Files>

RewriteEngine On
RewriteRule ^FCCee/(.*)$ /fcc-ee/$1 [R=301,NC,L]
RewriteRule ^FCChh/(.*)$ /fcc-hh/$1 [R=301,NC,L]
