body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  flex-grow: 1;
  margin-bottom: 4rem;
}

.bg-blue {
  background-color: #508abb !important;
}

.bg-green {
  background-color: #4caf50 !important;
}

.bg-top-stopped {
  background-color: #c9f2c2 !important;
}
.bg-top-stopped-highlight:hover {
  background-color: #d7f5d2 !important;
}

.bg-bottom-stopped {
  background-color: #e3fcde !important;
  display: none;
}

.bg-top-active {
  background-color: #f5e4b0 !important;
}
.bg-top-active-highlight:hover {
  background-color: #f7eac1 !important;
}

.bg-bottom-active {
  background-color: #fff8e3 !important;
  display: none;
}
