body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  flex-grow: 1;
  margin-bottom: 4rem;
}

.bg-blue {
  background-color: #508abb !important;
}

.bg-green {
  background-color: #4caf50 !important;
}

/*
 * Status
 */

/*  Stopped  */
.bg-top-stopped {
  background-color: #c9f2c2 !important;
}
.bg-top-stopped-highlight:hover {
  background-color: #d7f5d2 !important;
}

.bg-bottom-stopped {
  background-color: #e3fcde !important;
  display: none;
}

/*  Done  */
.bg-top-done {
  background-color: #c9f2c2 !important;
}
.bg-top-done-highlight:hover {
  background-color: #d7f5d2 !important;
}

.bg-bottom-done {
  background-color: #e3fcde !important;
  display: none;
}

/*  Active  */
.bg-top-active {
  background-color: #f5e4b0 !important;
}
.bg-top-active-highlight:hover {
  background-color: #f7eac1 !important;
}

.bg-bottom-active {
  background-color: #fff8e3 !important;
  display: none;
}

/*  Not Registered  */
.bg-top-not-registered {
  background-color: #f7a3a1 !important;
}
.bg-top-not-registered-highlight:hover {
  background-color: #f9bab9 !important;
}

.bg-bottom-not-registered {
  background-color: #fbd1d0 !important;
  display: none;
}

/*  On tape  */
.bg-top-on-tape {
  background-color: #b3b3b3 !important;
}
.bg-top-on-tape-highlight:hover {
  background-color: #bfbfbf !important;
}

.bg-bottom-on-tape {
  background-color: #d9d9d9 !important;
  display: none;
}

/*  Unknown  */
.bg-top-unknown {
  background-color: #80b3ff !important;
}
.bg-top-unknown-highlight:hover {
  background-color: #99c2ff !important;
}

.bg-bottom-unknown {
  background-color: #cce0ff !important;
  display: none;
}
