* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('images/searchicon.jpg');
  background-position: 5px 10px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}


#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 14px;
  min-width: 537px;
  /*font-family: Arial;*/
  font-family: Times New Roman ;
  font-family: Trebuchet MS ;
}

#myTable th{
  background-color: #508abb;
  color: #FFFFFF;
  border-color: #6ea1cc !important;
  border: 1px solid #e1edff;
  padding: 7px 17px;
}

 #myTable td {
  text-align: left;
  padding: 12px;
  transition: all .5s;
  border: 1px solid #e1edff;
  padding: 7px 17px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /*background-color: #f1f1f1;*/
  background-color: #ffffa2;

}

#myTable caption {
margin: 7px;
 }

#myTable thead th {
  background-color: #508abb;
  color: #FFFFFF;
  border-color: #6ea1cc !important;
  text-transform: uppercase;
 }


#myTable tbody td {
  color: #353535;
 }

#myTable tbody td:first-child,
   .data-table tbody td:nth-child(4),
   .data-table tbody td:last-child {
     text-align: right;
 }

#myTable tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
 }
#myTable tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
}

/* Table Header */


/* Table Body */
.data-table tbody td {
color: #353535;
 }
.data-table tbody td:first-child,
   .data-table tbody td:nth-child(4),
   .data-table tbody td:last-child {
     text-align: right;
 }

.data-table tbody tr:nth-child(odd) td {
  background-color: #f4fbff;
 }
.data-table tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
}

/* Table Footer */
.data-table tfoot th {
  background-color: #e5f5ff;
  text-align: right;
 }
.data-table tfoot th:first-child {
  text-align: left;
 }
.data-table tbody td:empty
{
  background-color: #ffcccc;
}


 /* Add a black background color to the top navigation */
.topnav {
    background-color: #508abb;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
} 

.topnav ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }
.topnav li {
 float:left;
 margin:auto;
 padding:0;
 /*background-color:black;*/
 }
.topnav li a {
 display:block;

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

 }
.topnav li a:hover {
    background-color: #ddd;
    color: black;
 }

.topnav li b:hover {
    background-color: #ddd;
    color: black;
}

.topnav li b {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }

.topnav ul li ul {
 display:none;
 }

.topnav ul li:hover ul {
 display:block;
 }
.topnav li:hover ul li {
 float:none;
 }
